

body{
	color: black;
	font-family: "Roboto", sans-serif;
	background: lightsteelblue;
	background:linear-gradient(180deg, #778899,#008080);
	background-size: cover;
	overflow: scroll;
}

h2{
	display: block;
	color:black;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 5px;
	width: 180px;
	text-align: center;


}

ul{
	font-size: 18px;
	font-weight: 
}